
<a-scene>
  <a-curvedimage class="pornpanel" id="panel-1" src="./assets/img/download/sample.jpg" height="6.0" radius="6.0" theta-length="80"
               rotation="0 150 0" scale="1.5 1.5 1.5"></a-curvedimage>

 <a-curvedimage class="pornpanel" id="panel-2" src="./assets/img/download/sample.jpg" height="6.0" radius="6.0" theta-length="80"
              rotation="126 270 80" scale="1.5 1.5 1.5"></a-curvedimage>

  <a-curvedimage class="pornpanel" id="panel-3" src="./assets/img/download/sample.jpg" height="6.0" radius="6.0" theta-length="80"
               rotation="0 240 0" scale="1.5 1.5 1.5"></a-curvedimage>

 <a-curvedimage class="pornpanel" id="panel-4" src="./assets/img/download/sample.jpg" height="6.0" radius="6.0" theta-length="80"
              rotation="0 330 0" scale="1.5 1.5 1.5"></a-curvedimage>

<a-curvedimage class="pornpanel" id="panel-5" src="./assets/img/download/sample.jpg" height="6.0" radius="6.0" theta-length="80"
             rotation="0 60 0" scale="1.5 1.5 1.5"></a-curvedimage>

 <a-curvedimage class="pornpanel" id="panel-6" src="./assets/img/download/sample.jpg" height="6.0" radius="6.0" theta-length="80"
              rotation="310 75 112" scale="1.5 1.5 1.5"></a-curvedimage>

  <a-sky color="#222"></a-sky>
</a-scene>
