/* VARIABLES
====================== */
@blue: #A6D0C7;
@purple: #993399;
@red: #cc3333;
@light_gray: #DDDDDD;
@magenta: #ff0066;

/* MAIN
====================== */
body  {
	background:@light_gray;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#content-views {
	position: relative;
}

#search-results {
	display: flex;
	flex-flow: row wrap;
	margin-left: -3px; /* Adjustment for the gutter */
	width: 100%;

	.single-search-result{
		flex: auto;
		height: 280px;
		min-width: 300px;
		margin: 0 3px 3px 0; /* Some gutter */
		border: 1px solid black;
	}

	.single-search-result.selected{
		border: 2px solid @magenta;
	}

	.single-search-result:nth-child(4n+1) {
		width: 385px;
	}
	.single-search-result:nth-child(4n+2) {
		width: 340px;
	}
	.single-search-result:nth-child(4n+3) {
		width: 310px;
	}
	.single-search-result:nth-child(4n+4) {
		width: 420px;
	}
}

.viewer-result{
	padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

#vr-show{
	position: absolute;
	height: 100%;
	width: 100%;
}

.a-enter-vr-button { bottom: auto !important; top: 20px; }
